.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40px;
}

.blur {
    opacity: 0.1;
 }

.visible {
   opacity: 1;
}

a {
    color :#333333;
    font-size: 12px;
}

header {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}

/* CSS for chart */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scale {
    color: black;
}

.y {
    color:white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#chart {
  width: 100%;
}

div.tooltip {
  position: absolute;
  display: table;
  text-align: center;
  width: 120px;
  height: 34px;
  padding: 10px;
  border-radius: 5px;
  background-color: bisque;
  font: 12px sans-serif;
  border: 0px;
  pointer-events: none;
}

.circle {
    opacity: 1;
    r: 4;
}