.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.blur {
    opacity: 0.1;
 }

.visible {
   opacity: 1;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CSS for chart */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scale {
    color: black;
}

.y {
    color:white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#chart {
  width: 100%;
}

div.tooltip {
  position: absolute;
  display: table;
  text-align: center;
  width: 120px;
  height: 34px;
  padding: 10px;
  border-radius: 5px;
  background-color: bisque;
  font: 12px sans-serif;
  border: 0px;
  pointer-events: none;
}

.circle {
    opacity: 1;
    r: 4;
}